.dashboard.scene
  .parcel.right
    = render partial: 'shared/timers'
    .status
      %h1 Service Status
      %table
        %thead
          %th service
          %th -15m
          %th -10m
          %th -5m
        %tbody
          - @instances.each do |s|
            %tr
              %th&= s.service.name
              - s.uptime_check.each do |c|
                - if c
                  %td.ok OK
                - else
                  %td.down DOWN

  .parcel.left
    #tickets
      %h1 Trouble Tickets
      %nav
        %ul
          %li= link_to 'List my tickets', tickets_path
      = form_for current_team.tickets.new do |f|
        %p
          = f.text_area :body, placeholder: "Problems? Securely send a message to Legitimate Business Syndicate. Definitely paste any tokens or UUIDs from redemptions."
        %p
          = f.submit 'Submit ticket'
    #redeem
      %h1 Redeem
      %p
        You really should automate this.
        = link_to 'Read the "How to Play" screen.', howto_path
      = form_tag redemption_path, method: :post, target: 'redeem_target', id: 'redemption_form' do
        - 2.times do
          %p
            = text_field_tag 'tokens[]', '', placeholder: 'token'
        %p
          = text_field_tag 'tokens[]', '', placeholder: 'token'
          = submit_tag 'punch it'
      %iframe{id: 'redeem_target', name: 'redeem_target', style: 'display: none'}
