%h1 Service: #{service.name}

%nav
  %ul
    %li= link_to 'availabilities', admin_service_availabilities_path(service)
    %li= link_to 'edit', edit_admin_service_path(service)

%table
  %tr
    %th name
    %td= service.name
  %tr
    %th id
    %td= service.id
  %tr
    %th enabled
    %td= !!service.enabled

%h2 Instances
%table
  %thead
    %tr
      %th instance id
      %th team (id)
      %th flags
      %th redemptions against
      %th activities
  %tbody
    - service.instances.joins(:team).sort_by{|i|i.team.name.downcase}.each do |i|
      %tr
        %td= i.id
        %td
          = link_to i.team.name, admin_instance_path(i)
          (#{i.team.id})
        %td= i.flags.count
        %td= i.redemptions.count
        %td
          = link_to 'instance', admin_instance_path(i)
          = link_to 'team', admin_team_path(i.team)
