.scoreboard-scene
  %table.names
    %thead
      %tr
        %th team
    %tbody
      - @teams.each do |t|
        %tr
          %th= t.name
  %table.scores
    %thead
      %tr
        %th sla
        %th queue
        %th flags
        %th total
    %tbody
      - @teams.each do |t|
        - sla = t.id * 4.20
        - flags = t.name.chars.last.ord
        - total = (sla / 100) * flags
        %tr
          %td.sla= number_to_percentage(sla, precision: 1)
          %td.queue= t.name.chars.first.ord
          %td.flags= flags
          %th.total= number_with_precision total, precision: 1