%h1 Rounds
%p all #{@rounds.count} rounds so far, newest to oldest

%table
  %thead
    %th id
    %th started at
    %th ended at
    %th length
    %th activities
  %tbody
    - @rounds.each do |r|
      %tr
        %td= link_to r.id, admin_round_path(r)
        %td{title: r.created_at}
          = r.created_at.to_formatted_s(:ctf)
          = time_ago r.created_at
        %td{title: r.ended_at}
          = r.ended_at.try(:to_formatted_s, :ctf) or 'ongoing'
          - if r.ended_at
            = time_ago r.ended_at
        %td= r.ended_at.try(:-, r.created_at) or 'ongoing'
        %td
          = link_to 'show', admin_round_path(r)
