%h1 Rounds
%p all #{@rounds.count} rounds so far, newest to oldest

%table
  %thead
    %th id
    %th started at
    %th ended at
    %th activities
  %tbody
    - @rounds.each do |r|
      %tr
        %td= link_to r.id, admin_round_path(r)
        %td= r.created_at.to_formatted_s(:ctf)
        %td= r.ended_at.try(:to_formatted_s, :ctf) or 'ongoing'
        %td
          = link_to 'show', admin_round_path(r)
