.scene
  %h1 Replacement
  %p= link_to 'download', download: true
  %dl
    %dt service
    %dd= @replacement.service.name
    %dt team
    %dd= @replacement.team.name
    %dt size
    %dd= @replacement.size
    %dt digest
    %dd= @replacement.digest
