.dashboard.scene
  .howto
    :markdown
      # Scoreboard

      The scoreboard is visible at [#{scoreboard_path}](#{scoreboard_path}).
      The columns are:

      * SLA: the percentage of availability checks we've made that have succeeded.
      * Flags: the number of flags that haven't been made available for capture.
        This column has two colors; the dark crimson portion is ones that are
        available to capture, and the pink band represents queued flags.
      * Total: SLA × Flags.

      # Scoring

      Hack services, retrieve tokens. Redeem tokens for flags.

      Token redemption is done via a signed HTTPS POST request to
      [#{redemption_path}](#{redemption_path}).

          curl \
            -F "tokens[]=TOKEN_GOES_HERE" \
            -F "tokens[]=ANOTHER_TOKEN_GOES_HERE" \
            --cacert ca.crt \
            -E #{current_team.certname}.crt \
            --key #{current_team.certname}.key \
            #{redemption_url}

      The response body is a JSON object describing what happened with each
      token:

          {
            "valid token": "442f3a75-fd29-4f58-a22a-30032c47bf9b",
            "invalid token": "error: Token doesn't exist",
            "the same valid token": "error: Already redeemed that token",
            "old valid token": "error: Token too old",
            "call legitbs if you see": 
              "error: some other error 79f21e3d-fcef-4327-8d50-dbe78ca8f147" 
          }
