%h1= @title

%nav
  %ul
    %li= link_to 'New Ticket', new_ticket_path
    - if params[:scope] != 'all'
      %li= link_to 'Include resolved tickets', tickets_path(scope: 'all')
    - else
      %li= link_to 'Exclude resolved tickets', tickets_path
- if @tickets.empty?
  %p no tickets
- else
  %table
    %tr
      - if is_legitbs?
        %th Team
      %th Body
      %th Created at
      %th Resolved at
      %th fun activities

    - @tickets.each do |ticket|
      %tr
        - if is_legitbs?
          %td= ticket.team.name
        %td= ticket.body.truncate 20
        %td= time_ago ticket.created_at
        %td
          - if ticket.resolved_at
            = time_ago_in_words(ticket.resolved_at)
            ago
          - else
            unresolved
        %td
          %nav
            %ul
              %li= link_to 'Show', ticket
              %li= link_to 'Edit', edit_ticket_path(ticket)
              - if is_legitbs? && !ticket.resolved_at
                %li= link_to 'Resolve', resolve_ticket_path(ticket), method: :post
              - if ticket.resolved_at
                %li= link_to 'Unresolve', unresolve_ticket_path(ticket), method: :post
