%h1 Listing tickets

%table
  %tr
    - if is_legitbs?
      %th Team
    %th Body
    %th Resolved at
    %th fun activities

  - @tickets.each do |ticket|
    %tr
      - if is_legitbs?
        %td= ticket.team.name
      %td= ticket.body.truncate 20
      %td= ticket.resolved_at or "unresolved"
      %td
        = link_to 'Show', ticket
        = link_to 'Edit', edit_ticket_path(ticket)
        - if is_legitbs?
          = link_to 'Resolve', resolve_ticket_path(ticket), method: :post

%br

= link_to 'New Ticket', new_ticket_path
