%h1 Listing tickets

%table
  %tr
    %th Team
    %th Body
    %th Resolved at
    %th
    %th
    %th

  - @tickets.each do |ticket|
    %tr
      %td= ticket.team
      %td= ticket.body
      %td= ticket.resolved_at
      %td= link_to 'Show', ticket
      %td= link_to 'Edit', edit_ticket_path(ticket)
      %td= link_to 'Destroy', ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ticket', new_ticket_path
