= form_for [:admin, @replacement] do |f|
  - if @replacement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@replacement.errors.count, "error")} prohibited this replacement from being saved:"
      %ul
        - @replacement.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :team
    = f.select :team_id, Team.all.map{|t| [t.certname, t.id]}
  .field
    = f.label :service_id, 'Service'
    = f.select :service_id, Service.all.map {|s| [s.name, s.id] }
  .field
    = f.label :round_id
    = f.text_field :round_id
  .field
    = f.label :file
    = f.file_field :file
  .actions
    = f.submit 'Save'
