%h1 Listing replacements

%table
  %thead
    %tr
      %th Team
      %th Service
      %th Round
      %th Digest
      %th
      %th
      %th

  %tbody
    - @replacements.each do |replacement|
      %tr
        %td= replacement.team.name
        %td= replacement.service.name
        %td= replacement.round.id
        %td= replacement.digest
        %td= link_to 'Show', replacement
        %td= link_to 'Edit', edit_replacement_path(replacement)
        %td= link_to 'Destroy', replacement, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Replacement', new_admin_replacement_path
