%nav
  %ul
    %li legitbs only
    %li= link_to 'root', admin_root_path
    %li= link_to 'availabilities', admin_availabilities_path
    %li= link_to 'instances', admin_instances_path
    %li= link_to 'redemptions', admin_redemptions_path
    %li= link_to 'replacements', admin_replacements_path
    %li= link_to 'rounds', admin_rounds_path
    %li= link_to 'services', admin_services_path
    %li= link_to 'teams', admin_teams_path
    %li= link_to 'tokens', admin_tokens_path
