%h1 Instances

%table.instances
  %tr
    %th team \ service
    - @services.each do |s|
      %th
        = s.id
        = s.name
  - @teams.each do |t|
    - scores = t.scores_by_service
    %tr
      %th
        = t.id
        = t.certname
      - @services.each do |s|
        %td
          = link_to(t.certname.truncate(8) + ' ' + s.name, admin_instance_path(0, team: t.id, service: s.id))
          %br
          = scores[s.id] || 0
