%h1 Availabilities

%nav
  = link_to 'older', admin_availbilities_path(offset: @oof + 200)
  = link_to 'newer', admin_availbilities_path(offset: @oof - 200)

%table
  %thead
    %tr
      %th id
      %th instance
      %th when
      %th healthy?
      %th legit?
      %th activities
  %tbody
    - @availabilities.each do |a|
      %tr
        %td= link_to a.id, admin_availability_path(a)
        %td= describe_instance a.instance
        %td{title: a.created_at}
          = time_ago_in_words a.created_at, include_seconds: true
          ago
        %td= a.healthy?
        %td= a.legit_dingus?.pretty_inspect
        %td
          = link_to 'show', admin_availability_path(a)
