%h1 Teams

%nav
  %ul
    %li= link_to 'numeric order', order: 'num'
    %li= link_to 'alphabetic order', order: 'alpha'
    %li= link_to 'score order (or "scorder" for short)', order: 'winning'

%table
  %thead
    %tr
      %th id
      %td name
      %td display
      %th certname
      %th flags
      %th activities
  %tbody
    - @teams.each do |t|
      %tr
        %td= link_to t.id, admin_team_path(t)
        %td= t.name
        %td= t.display
        %td= t.certname
        %td= t.flags.count
        %td
          = link_to 'show', admin_team_path(t)
          = link_to 'edit', edit_admin_team_path(t)
