!!! 5
%html
  %head
    %title DEF CON CTF 2017
    = stylesheet_link_tag 'application'
    = yield :head
    = csrf_meta_tag
  %body{class: body_class}
    = render partial: 'shared/banner'
    .content
      = yield

    = javascript_include_tag 'application'
