!!! 5
%html
  %head
    %title DEF CON CTF 2013
    = stylesheet_link_tag 'application'
    = yield :head
  %body{class: body_class}
    = render partial: 'shared/banner'
    = yield
    .street.scene
      = yield :scene
      .floor

    = javascript_include_tag 'application'
